<div class="container-fluid">
  <div class="container">
    <h3><a class="nav-link" routerLink="/songs">{{'Home.Songs' | translate}}</a></h3>
    <div class="row">
      <div *ngFor="let song of songs" class="col">
        <a routerLink="/songs/detail/{{song.id}}">
          <h4>{{song.name}}</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <h3><a class="nav-link" routerLink="/passports">{{'Home.Passports' | translate}}</a></h3>
    <div class="row">
      <div *ngFor="let passport of passports" class="col">
        <a routerLink="/passports/detail/{{passport.passportId}}">
          <h4>{{passport.passportNumber}}</h4>
        </a>
      </div>
    </div>
  </div>
</div>
